{% extends "base.html" %}

{% block content %}
    <h1>New Blog Post</h1>
    <form method='POST'>
        <p>
        <label>
            Title:
            <br>
            <input id ='blog-title' type="text" name='title' />
        </label>
        </p>
        <p>
        <label>
            Blog Post:
            <br>
            <input id='blog-body' type="text" name='body' />
        </label>
        <p>
        <input type="submit" value='Add Blog Post' />
    </form>
    <hr />

{% endblock %}