{% extends "base.html" %}

{% block content %}

        <h2 class = "blog-heading">
                {{blog_post.title}}
        </h2>
        <p class= "blog-date-created">
                Date posted: {{blog_post.date}}
        <span class = "written-by">
                Written by: 
                <a href="/?user={{ blog_post.owner.id }}">
                    {{blog_post.owner.username}}
                </a>
        </span>
        </p>
        <p class = "blog-body-text">
            {{blog_post.body}}
        </p>


{% endblock %}